<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820887862788-r5bktk07bh7murc0t7138ob5lgv5h6li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820887862788-r5bktk07bh7murc0t7138ob5lgv5h6li</string>
	<key>API_KEY</key>
	<string>AIzaSyAocD00ekXfS818IgJvg52wATMg4c5sS6o</string>
	<key>GCM_SENDER_ID</key>
	<string>820887862788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-c57b2</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-c57b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820887862788:ios:2b397ca744750cc739ff51</string>
</dict>
</plist>